<div class="container">

  <h1>
    <img src="assets/images/hexLogo.png" alt="">
  </h1>
  <div class="homeDescription">
    恭喜通過 Scrum新手村！
    正式加入六角資訊的開發 A 組
  </div>
  <img class="img-chips-top" src="assets/images/chips-top.png" alt="">
  <img class="img-chips-down" src="assets/images/chips-down.png" alt="">
  <img class="img-chips-left" src="assets/images/chips-left.png" alt="">
  <img class="img-dice-red" src="assets/images/dice-red.png" alt="">
  <img class="img-cards-black" src="assets/images/cards-black.png" alt="">
  <img class="img-cards-red" src="assets/images/cards-red.png" alt="">
  <img class="img-cards-red" src="assets/images/twoChipsBuilding2.png" alt="">

  <img class="img-cards-red" src="assets/images/coin1.png" alt="">
  <img class="img-cards-red" src="assets/images/coin2.png" alt="">
  <img class="img-cards-red" src="assets/images/coin3.png" alt="">
  <img class="img-cards-red" src="assets/images/coin4.png" alt="">

</div>
