<div class="container">

  <h1>
    <img src="assets/images/hexLogo.png" alt="">
  </h1>
  <div class="homeDescription">
    恭喜通過 Scrum新手村！<br>
    正式加入六角資訊的開發 A 組
  </div>
  <img class="img-cards-black" src="assets/images/cards-black.png" alt="">
  <img class="img-cards-red" src="assets/images/cards-red.png" alt="">
  <img class="img-twoChipsBuilding2" src="assets/images/twoChipsBuilding2.png" alt="">

  <img class="img-coin1" src="assets/images/coin1.png" alt="">
  <img class="img-coin2"src="assets/images/coin2.png" alt="">
  <img class="img-coin3" src="assets/images/coin3.png" alt="">
  <img class="img-coin4" src="assets/images/coin4.png" alt="">
  <img class="img-coin5" src="assets/images/coin5.png" alt="">
  <img class="img-coin6" src="assets/images/coin6.png" alt="">


</div>
