h1 {
	position: absolute;
	width: 238px;
	height: 57px;
	left: 40px;
	top: 27px;
}

.homeDescription {
	position: absolute;
	width: 712px;
	height: 224px;
	left: 284px;
	top: 207px;

	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 56px;
  text-align: center;
	/* or 200% */

	/* White */

	color: #ffffff;
}

.img-chips-top {
	height: 74px;
	width: 88px;

	position: absolute;
	width: 88px;
	height: 74px;
	left: 599px;
	top: 47px;
}

.img-chips-down {
	height: 115px;
	width: 112px;
	left: 640px;
	position: absolute;
	left: 640px;
	top: 584px;
}

.img-chips-left {
	height: 69px;
	width: 95px;
	border-radius: 0px;

	position: absolute;
	left: 47px;
	top: 307px;
}

.img-dice-red {
	position: absolute;

	height: 142px;
	width: 147px;
	// left: 4919px;
	// top: -550px;
	border-radius: 0px;
	left: 56%;
	top: 32%;
}

.img-cards-black {
	position: absolute;
	width: 616px;
	height: 329px;
	left: 0px;
	top: 391px;
}

.img-cards-red {
	position: absolute;
	width: 536px;
	height: 310px;
	left: 744px;
	top: 0px;
}

.divButton {
  position: absolute;
  left: 24%;
  top: 62%;

	display: flex;
	// flex-direction: row;
	align-items: flex-start;
	align-items: center;
	text-align: center;
	padding: 16px;
	gap: 10px;

	width: 280px;
	height: 88px;

	/* Black */

	background: #000000;
	box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.5);
	border-radius: 20px;

	margin-left: 48%;
}

.divButton a {
	width: 248px;
	height: 28px;

	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 30px;
	/* or 107% */

	// display: flex;
	// align-items: center;
	text-align: center;


	/* White */

	color: #ffffff;
}

.divButton:hover {
  background: #9C0700;
}

.img-coin1 {
  position: absolute;
width: 46px;
height: 42px;
left: 403px;
top: 56px;
}

.img-coin2 {
  position: absolute;
width: 60px;
height: 42px;
left: 640px;
top: 113px;
}

.img-coin3 {

  position: absolute;
  width: 83px;
  height: 51px;
  left: 59px;
  top: 285px;

}

.img-coin4 {
  position: absolute;
  height: 329px;
width: 653px;
left: 0px;
top: 391px;
border-radius: 0px;
}

.img-coin5 {
  position: absolute;
width: 93px;
height: 98px;
left: 717px;
top: 502px;
}

.img-coin6 {

  position: absolute;
  width: 56px;
  height: 51px;
  left: 1199px;
  top: 348px;
}


.img-twoChipsBuilding2 {
  position: absolute;
width: 250px;
height: 299px;
left: 967px;
top: 404px;
}
