<div class="hintArea flex-container">
  <div class="hintPerson item">
    <img id="tina" src="assets/images/allen.png" alt="">
  </div>
  <div class="triangle">
  </div>
  <div class="message item">
    哇賽新來的，你真的很幸運，今天剛好是開發B組的 Retro，你也見識一下，看看Retro都該做些什麼吧~我們會在會議裡請團隊成員提出哪些是做得好的地方、哪些可以繼續改善的地方？並記錄再Confluence中。
  </div>
</div>

<div class="hintArea flex-container">
  <div class="hintPerson item">
    <!-- <img id="tim" src="assets/images/tim.png" alt=""> -->
  </div>
  <div class="triangle">
  </div>
  <div class="second-message item">
    請選擇適合 Retro的回饋卡！思考看看哪一張牌是『正面表述』呢？
  </div>
</div>


<div class="text-left">
  <label for="">做得好的地方</label>
  <div class="left-porkerSort">

  <app-poker-card ngClass="item" [pokerNum]="'A'" [pokerText]="'這次我幫了很多人救火耶'"></app-poker-card>
  <app-poker-card ngClass="item" [pokerNum]="'A'" [pokerText]="'大家在開發上都會互相 cover，讓任務都有準時在時間內完成。'"></app-poker-card>
  </div>

</div>

<div class="text-right">
  <label for="">有哪些可以做得更好？</label>
  <div class="right-porkerSort">

  <app-poker-card ngClass="item" [pokerNum]="'A'" [pokerText]="'可以記錄這次的開發時間，讓預估團隊點數可以更精準。'"></app-poker-card>
  <app-poker-card ngClass="item" [pokerNum]="'A'" [pokerText]="'開發時間預估不準確，請後端下次改進，避免Delay到我。'"></app-poker-card>
  </div>

</div>



<app-button [displayText]="'我想我了解了'" [linkTarget]="'complete'"></app-button>
