.flex-container {
	display: flex;
	// flex-direction: row;
	flex-direction: row;
	justify-content: row;
	align-items: flex-start;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0.1;
}

#tina {
	position: absolute;
	width: 65.04px;
	height: 65.04px;
	left: 47.48px;
	top: 50px;
}

.spanMessage {
	display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 15px 0px 16px 27px;
gap: 10px;

width: 20px;
height: 152px;
}

.message {
	// display: flex;
	// flex-direction: row;
	// justify-content: center;
	// align-items: center;
	padding: 16px 24px;
	gap: 10px;

	// width: 1098px;
	width: 80%;
	height: 152px;

	position: absolute;
  left: 10%;

	/* White */

	background: #ffffff;
	border-radius: 16px;
}

.second-message {
	padding: 16px 24px;
	gap: 10px;

	// width: 1098px;
	width: 80%;
	height: 152px;

	position: absolute;
  left: 10%;

	/* White */

	background: #ffffff;
	border-radius: 16px;

  top: 40%;
}
