<div class="hintArea flex-container">
  <div class="hintPerson item">
    <img id="tina" src="assets/images/tina.png" alt="">
  </div>
  <div class="triangle">
    </div>
  <div class="message item">

      產品待辦清單完成後，我們來召集 Scrum Master 和開發團隊共同召開短衝規劃會議(Sprint Planning)。短衝即是一個迭代，具有固定時間限制，我們會在這個會議中，決定要完成哪些工作事項來達到商業需求，<span class="redMark">列出短衝待辦清單(Sprint Backlog)</span>，由開發團隊在接下來的產品開發週期裡執行。
  </div>
</div>
<div class="hintArea flex-container">
  <div class="hintPerson item">
    <img id="tim" src="assets/images/tim.png" alt="">
  </div>
  <div class="triangle">
    </div>
  <div class="message item">

      嗨嗨 你是新來的前端吧！我是這次的 Scrum Master 小捷，我的工作主要是促成開發團隊成員協作、引導團隊進行自省會議，提升團隊成員對 Scrum 瞭解。這兩位是 Jason和 Allen，是我們開發團為的成員唷～目前我們團隊一次Sprint是兩的時間，依照我的觀察，目前我們團隊一次 Sprint 週期是兩週的時間，依照我的觀察，<span class="redMark">目前團隊可以負擔的點數 (Sprint Point) 大約是 20 點</span>。
  </div>
</div>
<div class="hintArea flex-container">
  <div class="hintPerson item">
    <img id="jason" src="assets/images/jason.png" alt="">
  </div>
  <div class="triangle">
    </div>
  <div class="message item">

      欸新來的，你應該不知道點數是什麼意思吧 哈哈 我來跟你介紹一下吧～ <span class="redMark">Sprint Point 目的是為了衡量速度，是用大概花費的時間預估出的相對點數</span>。
  </div>
</div>
<div class="hintArea flex-container">
  <div class="hintPerson item">
    <img id="allen" src="assets/images/allen.png" alt="">
  </div>
  <div class="triangle">
    </div>
  <div class="message item">

      沒錯，如果小斯哥說的，我這邊已經把剛剛討論好的<span class="redMark">點數</span>標上去囉～ 你來練習<span class="redMark">把任務排到短衝待辦清單吧</span>！
  </div>
</div>
<app-button [displayText]="'接受挑戰'" [linkTarget]="'arrange'"></app-button>


