<div class="hintArea flex-container">
  <div class="hintPerson item">
    <img id="tina" src="assets/images/tina.png" alt="">
  </div>
  <div class="triangle">
    </div>
  <div class="message item">

      我是資訊，開發 A組的PO，Tina。PO也就是產品負責人(Product Owner)。產品負責人會負責評估產品待辦清單的價值與重要性，依序<span class="redMark">排列要執行的優先順序</span>，對齊產品目標。最後排出產品待辦清單(Product Backlog)唷！剛好我最近手邊有一個<span class="redMark">『人才招募系統』</span>的案子，我才剛列出了<span class="redMark">『產品需求清單』</span>。既然你都來了，來試試看<span class="redMark">調整產品優先度，排出產品待辦清單吧</span>！
  </div>
</div>
<div class="hintArea">hh
  <div class="hintPerson"></div>
  <div class="second-message">
    我們公司也推薦使用Jira做任務的管理呢！
    <img src="assets/images/jira.png" alt="">
  </div>
</div>
<div class="red">
  <label for="">每日站立會議(Daily Scrum)</label>
</div>
<div class="hintArea flex-container">
  <div class="hintPerson item">
    <!-- <img id="tim" src="assets/images/tim.png" alt=""> -->
  </div>
  <div class="triangle">
    </div>
  <div class="message item">
Sprint是一個短衝，開發團隊會在這期間執行開發。在這段期間內，開發團隊舉辦每日站立會議(Daily Scrum)，追蹤成員間的工作狀況，除了每日站立會議，在Sprint的結束也會包含短衝檢視會議(Sprint Review)、短衝自省會議(Sprint Retrospective)。們團隊一次Sprint是兩的時間，依照我的觀察，目前我們團隊一次 Sprint 週期是兩週的時間，依照我的觀察，<span class="redMark">目前團隊可以負擔的點數 (Sprint Point) 大約是 20 點</span>。
  </div>
</div>
<div class="hintArea flex-container">
  <div class="hintPerson item">
    <!-- <img id="tim" src="assets/images/tim.png" alt=""> -->
  </div>
  <div class="triangle">
    </div>
  <div class="message item">

        推薦工具：
  </div>
</div>
<label class="redDesc" for="">每天都要進行的會議，以15分鐘為限制
昨天為團隊的短衝目標(Sprint Goal)做了那些進度
今天我會如何準備來幫助團隊達到短衝目標
過程中有遇到什麼問題、難題
透過團隊分享，追蹤大家的工作狀況。</label>

<div class="yellow">
  <label for="">短衝檢視會議(Sprint Review)</label>
</div>
<label class="yellowDesc" for="">用來檢視該次短衝增量的成
果，以蒐集相關的回饋數據
或意見。</label>

<div class="green">
  <label for="">短衝自省會議(Sprint Retrospective)</label>
</div>
<label class="greenDesc" for="">團隊在自省會議裡, 會共同回顧該短衝歷程發生的事情
好的地方
可以改進的地方
如何維持我們已有的成功經驗
優化工作流程、讓團隊有變得更好的機會。</label>

<app-button [displayText]="'我了解了'" [linkTarget]="'test-process'"></app-button>
  <!-- <button (click)="openDialog('檔案超 過10MB，請重新選擇')">Test Dialog</button> -->


