/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');

// @font-face {
//   font-family: "AR JULIAN";
//   src: url("../src/assets/fonts/ARJULIAN.ttf");
// }

/*CSS Reset */
* {
  box-sizing: border-box;
  text-decoration: none;
	margin: 0;
	padding: 0;
	list-style: none;
	/* font-family: 'Noto Sans TC', sans-serif; */
}

:root {
  --borwn-color: #38241b;
  --red-color: #951205;
  --white-color: #ffffff;
}

/* html {
  font-size: 100%;
  cursor: url("../src/assets/images/cursor.png"), auto;
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
} */

html,
body {
  font-size: 10px;
  height: 100vh;
  width: 100vw;
}

body {

  overflow-x: hidden;

  position: relative;
  background-color: #F0F0F0;
  background: radial-gradient(50% 50% at 50% 50%, #497333 0%, #1A451D 100%);

}



a {
  text-decoration: none;
}

/* img {
  min-width: 100%;
} */



html, body { height: 100%; }
body { margin: 0; font-family: 'Noto Sans TC', sans-serif; }

span.redMark {
  color: #9C0700;
}
